---
import { getCollection, render } from 'astro:content'

import BackToBlogs from '@/components/back-to-blogs.astro'
import Layout from '@/layouts/layout.astro'
import { formatFullDate } from '@/utils/date-util'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)
const formattedDate = formatFullDate(post.data.pubDate)
---

<Layout title={post.data.title} ogpPath={`blog/${post.id}`}>
  <div class="mb-4">
    <BackToBlogs />
  </div>
  <h1 class="text-3xl font-bold mb-1">{post.data.title}</h1>
  <section class="flex items-center justify-end mb-4 gap-0.5">
    <Icon name="mdi:clock-outline" />
    <p class="text-gray-600">
      {formattedDate}
    </p>
  </section>
  <div class="prose prose-lg custom-md">
    <Content />
  </div>
  <div class="mt-8">
    <BackToBlogs />
  </div>
</Layout>

<style is:global>
  .custom-md h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .custom-md h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .custom-md a {
    color: #3b82f6;
    text-decoration: underline;
  }

  .custom-md a:hover {
    opacity: 0.8;
  }

  .custom-md p {
    margin-bottom: 0.5rem;
  }

  .custom-md ul {
    margin-bottom: 0.5rem;
  }

  .custom-md ul li {
    margin-bottom: 0.25rem;
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 0.25rem;
  }

  .custom-md blockquote {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
  }
</style>
