---
import Layout from '@/layouts/layout.astro'
import { BlogPostList } from '@/components/blog-post-list'
import { sortedPosts, allTags, years } from '@/features/post/posts'

const serializedPosts = sortedPosts.map(post => ({
  ...post,
  pubDate: post.pubDate.toISOString(),
}))
---

<Layout title="Blog" ogpPath="blog">
  <h1 class="mb-8 text-3xl font-bold text-gray-900">Blog</h1>
  <BlogPostList
    client:load
    posts={serializedPosts}
    allTags={allTags}
    allYears={years}
  />
</Layout>
