---
import Layout from '@/layouts/layout.astro'
import Portrait from '@/components/portrait.astro'
import TalksList from '@/components/talks-list.astro'
import SnsSection from '@/components/sns-section.astro'
---

<Layout title="Home" ogpPath="home">
  <div class="grid grid-cols-1 md:grid-cols-10 gap-4 items-center">
    <div class="flex justify-center md:col-span-4">
      <Portrait size={160} />
    </div>
    <div class="flex flex-col gap-2 md:col-span-6">
      <section>
        <h1 class="text-2xl font-bold">Kenta TSUNEMI</h1>
        <h2 class="text-xl font-bold">@tocomi</h2>
      </section>
      <section>
        <p>👨‍💻 Web Frontend Engineer</p>
        <p>🏢 Techtouch, Inc.</p>
        <p>🎪 TSKaigi スタッフ(2025, 2026)</p>
      </section>
      <section>
        <p>笑いの取れるエンジニアを目指しています🗿</p>
      </section>
      <SnsSection />
    </div>
  </div>

  <TalksList />
</Layout>
