---
import { Icon } from 'astro-icon/components'
---

<div class="flex items-center gap-1">
  <Icon name="mdi:chevron-left" />
  <a href="/blog" class="inline-block text-gray-600 hover:underline">
    一覧にもどる
  </a>
</div>
