---
import type { Blog } from '@/content/types'

type Props = Blog & {
  href: string
}

const { href, title, pubDate, tags } = Astro.props

const formattedDate = new Intl.DateTimeFormat('ja-JP', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
}).format(pubDate)
const isExternal = href.startsWith('http')
---

<article class="group border-b border-gray-200 py-4 first:pt-0 last:border-b-0">
  <a href={href} class="block" target={isExternal ? '_blank' : '_self'}>
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-wrap gap-2">
          {
            tags.map(tag => (
              <span class="rounded-full bg-gray-100 px-2 py-0.5 text-xs text-gray-700">
                {tag}
              </span>
            ))
          }
        </div>
        <time class="flex-shrink-0 text-sm text-gray-500">{formattedDate}</time>
      </div>
      <h2
        class="text-lg font-bold text-gray-900 transition-colors group-hover:text-blue-600"
      >
        {title}
      </h2>
    </div>
  </a>
</article>
