---
import { Image } from 'astro:assets'
import portrait from '@/assets/portrait.jpg'

type Props = {
  size: number
}

const { size } = Astro.props
---

<div class="portrait-wrapper" style={`--size: ${size}px`}>
  <Image
    src={portrait}
    alt="Portrait"
    width={size}
    height={size}
    class="rounded-full"
  />
</div>

<style>
  .portrait-wrapper {
    width: var(--size);
    height: var(--size);
    padding: 4px;
    border-radius: 9999px;
    background: linear-gradient(90deg, purple, orange);
    display: inline-block;
  }

  .portrait-wrapper :global(img) {
    display: block;
    object-fit: cover;
  }
</style>
