---
import GitHubIcon from '@/assets/logo/github.svg'
import XIcon from '@/assets/logo/x.svg'
import SpeakerDeckIcon from '@/assets/logo/speakerdeck.svg'
---

<section>
  <div class="flex gap-4 mt-2">
    <a
      href="https://github.com/tocomi"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-70 transition-opacity"
      aria-label="GitHub"
    >
      <img src={GitHubIcon.src} alt="GitHub" class="w-6 h-6" />
    </a>
    <a
      href="https://x.com/tocomi0112"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-70 transition-opacity"
      aria-label="X (Twitter)"
    >
      <img src={XIcon.src} alt="X" class="w-6 h-6" />
    </a>
    <a
      href="https://speakerdeck.com/tocomi"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-70 transition-opacity"
      aria-label="SpeakerDeck"
    >
      <img src={SpeakerDeckIcon.src} alt="SpeakerDeck" class="w-6 h-6" />
    </a>
  </div>
</section>
